*{
    margin: 0;
    padding: 0;
}
html,body{
width: 100%;
height: 100%;
}
body{
    background-color: white;
    font-size: 16px ;
}

h1{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

h2{
    font-family: 'Kumbh Sans', sans-serif;
    color:hsl(26, 100%, 55%);
    
}
h4{
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(219, 9%, 45%);
}
p{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: hsl(219, 9%, 45%);
}

.container{
    max-width: 500px;
    margin: 0;
    height: 100%;
}

.nav-header{
    display: flex;
    height: 50px;
    /* background-color: red; */
    align-items: center;
    
}
.header-left{
    padding: 5px 16px;
    width: 70%;

}
.header-right{
    margin: 0 10px;
    display:flex ;
    justify-content: space-between;
    
}
.checkout-cart{
  background-color:white;
  display: none;
  position: fixed;
  top: 70px;
  left: 80px;
  max-width: 272px;
  width: 100%;
  height: 140px;
  border-radius: 5px;
  aspect-ratio: 2/1;
  box-shadow: 0 10px 32px 2px rgb(0 0 0 / 16%);
  z-index: 1;
  transition: all 0.8s ease-out
}
.show-cart{
    display: block;
    transition: all 0.8s ease-out;
}

.nonactive{
    display: none
}
.cart-title{
    margin: 10px;
   border-bottom: 1px solid wheat;
}
.empty-cart{
    text-align: center;
}
.nav-cart{
    height: 40px;
    border-radius: 10px;
    border: none;
    border: transparent;
    background-color: white;
}
.nav-cart img{
  margin: 15px 0 0 0;
   padding: 5px;
   border-radius: 10px;
   background-color: white;
   border: transparent
}
.nav-cart img:hover{
    cursor: pointer;
    background-color: orange;
    transition: all 0.7s ease-in-out;
}

.profil-picture img{
    margin: 10px 0 0 0;
    width: 20px;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid transparent;
   }
   
   .profil-picture img:hover{
       cursor: pointer;
           background-color: orange;
           transition: all 0.7s ease-in-out;
   }

   .cart-count{
       width: 5px;
       position:relative;
       display: flex;
       background-color: orange;
       color: white;
       border-radius: 10px;
       padding: 0px 3px;
       top:-28px;
       right: -9px;
       font-size: 10px;

   }
.remove-btn{
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    right: 20px;
    border: none;
}
.remove-btn:hover{
    cursor: pointer;
    border-radius: 5px;
    background-color: hsl(26, 100%, 55%);
    opacity: 0.7;
}
.checkout-btn{
    background-color:hsl(26, 100%, 55%);
    width: 90%;
    margin: 0 10px;
    position: absolute;
    bottom: 10px;
    border-radius: 5px;
    border: transparent;
}

.checkout-btn:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.7s ease-out;
}

.cart-total-price{
    position: absolute;
    bottom: 40px;
    left: 150px;
}

.number-selected{
    width: 20px;
    position: absolute;
    bottom: 40px;
    left: 110px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(219, 9%, 45%);
}

.itemPrice{
    position: absolute;
    left:70px ;
    bottom: 40px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(219, 9%, 45%);
}

.title{
    width:150px;
    font-size:15px; 
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(219, 9%, 45%) "
}
.cart-image img{
    width:50px;
    border-radius: 10px; 
    margin:0px 10px;
}


.delete-active {
    display: none;
}


.menu-header{
    height: 100%;
    position: fixed;
    width: 0;
    z-index:1;
    top:0;
    left: 0;
    background-color: white;
    overflow: hidden;
    padding-top: 60px;
    transition: 0.5s;

}

.menu-header a {
    padding: 8px 8px 8px 32px ;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu-header a:hover{
    color:orange;
}

.menu-header .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.nav-logo{
    margin:0 10px
}
/* Now styling the body */
.gallery-photo{
    position: relative;
}
.mySlides{
    display:none
}
.cursor{
    cursor: pointer;
}
.img-product-1{
    width: 100%;
    vertical-align: middle;
}
.img-product-2{
    width: 100%;
    vertical-align: middle;
}
.img-product-3{
    width: 100%;
    vertical-align: middle;
}
.img-product-4{
    width: 100%;
    vertical-align: middle;
}
.previous-btn img{
    position: absolute;
    margin: 160px 10px;
    padding: 8px;
    border: 20px;
    background-color: white;
    border-style: hidden;
    border-radius: 30px;
   
}
.next-btn img{
    position: absolute;
    top: 160px;
    right: 2px;
    padding: 8px;
    border: 20px;
    background-color: white;
    border-style: hidden;
    border-radius: 30px;
}

.previous-btn img:hover{
    cursor: pointer;
    background-color:hsl(26, 84%, 53%);
    opacity: 1.4;
    transition: all 0.6s ease-out;
}

.next-btn img:hover{
    cursor: pointer;
    background-color:hsl(26, 84%, 53%);
    opacity: 1.4;
    transition: all 0.6s ease-out;
}
.thumbnails::after{
    content:"";
    display: table;
    clear: both;
}
.thumbnails {
    cursor: pointer;
    display: none;
    text-align: center;
}
.thumbnails img{
    border-radius: 10px;
    
}
.thumbnails-pic img{
    width: 70px;

}

.thumbnails img:hover{
    opacity: 0.5;
    transition:all 0.6s ease;
    background-color: hsl(26, 84%, 53%);
}


.product-item-body{
    margin: 20px;
}

.product-item-body>h1{
     padding:5px 0; 
     font-size: 20px;
}

.item-description{
    margin-bottom:20px ;
}

.discount-percent{
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(26, 100%, 55%);
    background-color: blanchedalmond;
    border-radius: 3px;
    padding: 3px;
    margin: 0 10px;
}

.product-price{
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.product-price-discount{
    display: flex;
    align-items: center;
}

.product-actual-price{
    margin: 0 60px;
    color:hsl(219, 9%, 45%);
    text-decoration: line-through;
  
}
.product-cart{
    width: 100%;
    position: relative;

}

.input-count{
    display: flex;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background-color:blanchedalmond;
    border-radius: 10px;
    border: transparent;
    outline: none;
    
}
.plus-cart {
    display: flex;
    position: absolute;
    right: -2%;
    top: 21%;
    background-color: blanchedalmond;
    transform: translateY(-50%);
    border: none;
}

.minus-cart {
    display: flex;
    position: absolute;
    top: 20%;
    left: 2%;
    background-color: blanchedalmond;
    transform: translateY(-50%);
    border: none;
}

.plus-cart:hover{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color:blanchedalmond;
    opacity: 2;
}
.minus-cart:hover{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color:blanchedalmond;
    opacity: 2;
}
.add-cart{
    width: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    color: white;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow:0 15px 30px hsla(var(--clr-primary),.42);
    transition: var(--transition-base-timing) ease;
    border: none;
}

.add-cart:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease-out;
}

.add-cart-icon{
    margin:0 10px;
}

@media screen and (max-height: 375px){
    .menu-header{ padding-top:15px;}
    .menu-header a{ font-size: 18px;}
    
}
  @media only screen and (min-width: 550px){
    .container{
        max-width: 700px;
        margin: 16px;
        height: 100%;
        
    }
    .hamburger{
        display: none;
    }
    
    .closebtn{
        display: none;
    }
    

    .nav-header{
        display: flex;
        height: 60px;
        border-bottom: 1px solid;
        
        /* background-color: red; */
        align-items: center;
        
    }
    .header-left{
        padding: 0 30px;
        width: 600px;
    }
    .header-right{ 
        margin: 0;
        padding: 0;
        display:flex ;
        left: 0;
        /* background-color: chartreuse; */
        justify-content: space-between;
    
    }

    .nav-cart{
        border-radius: 10px;
        margin-left: 90px;
        border: solid transparent;
        background-color: white;
    }
    .nav-cart img:hover{
        cursor: pointer;
        background-color: orange;
        transition: all 0.7s ease-in-out;
    }

    .nav-cart img{
        border-radius: 10px;
        border: transparent;
        background-color: white;
    }

    .nav-logo{
        margin: 0;
        padding: 0;
    }
    .nav-logo img{
        width: 90px;
        margin:0;
        padding: 0;
    }
  .profil-picture {
    border: solid transparent;
    background-color: white;
   
  }

.profil-picture img{
 width: 20px;
 padding: 3px;
 border-radius: 10px;
 border: 1px solid transparent;
}

.profil-picture img:hover{
    cursor: pointer;
    background-color: orange;
    transition: all 0.7s ease-in-out;
}
.menu-header{
    display: flex;
   position: absolute;
    height: 100%;
    width: 0;
    top:25px;
    left: 140px;
    background-color: #111;
    overflow: visible;
    padding-top: 0;
    transition: 0.5s;

}

.menu-header a {
    display: flex;
     height: 35px;
     font-family: 'Kumbh Sans', sans-serif;
     color: hsl(219, 9%, 45%);
    /* background-color: brown; */
    padding: 0px 10px ;
    margin: 15px 0;
    text-decoration: none;
    font-size: 12px;
    color: black;
    transition: 0.3s;
    vertical-align: sub;
}

.menu-header a:hover{
    border-bottom: orange;
    /* background-color: orange; */
}

.menu-header .closebtn{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    margin-left: 0;
}
.body-container{
    display: flex;
    position:relative;
   
}

.previous-btn{
    display: none;
}

.next-btn{
    display: none;
}
.gallery-photo{
    width: 340px;
    display: block;
    margin: 0px 0;
    padding: 0;
    justify-content: center;
   /* background-color: tomato; */
}
 .gallery-photo .mySlides{
     justify-content: center;
 }
.thumbnails{
    display: block;
    display: flex;
    width: 100%;
    margin:  0;
    /* background-color: green; */
   justify-content: center;
  
}
.thumbnails-pic img{
   width: 40px;
   padding: 0 5px;
}

.mySlides{
    width: 300px;
    height: 280px;
    margin: 0 ;
    padding: 0;
    display: block;
    justify-content: center;
     /*background-color: grey; */
    
}

.mySlides img{
 display: inline-block;
  
}
.img-product-1{
    width: 250px;
    margin: 20px 50px;
    border-radius: 10px;
    vertical-align: middle;
}
.img-product-2{
    width: 250px;
    margin: 20px 40px;
    border-radius: 10px;
    vertical-align: middle;
}
.img-product-3{
    width: 250px;
    margin: 20px 40px;
    border-radius: 10px;
    vertical-align: middle;
}
.img-product-4{
    width: 250px;
    margin: 20px 40px;
    border-radius: 10px;
    vertical-align: middle;
}
.product-item-body{
    width: 50%;
    margin: 0;
    padding: 0;
    height: 330px;
    /* background-color: burlywood; */
    font-size: 12px;
}

.product-item-body h2{
    margin-top: 30px;
}
.product-title{
  width: 200px;
  
}

.item-description{
width: 80%;
height: 100px;
position: relative;
font-size: 12px;
line-height: 16px;
/* background-color: salmon; */
margin:0px;
padding-right: 30px;
}
.product-price{
    margin: 0;
    width: 100%;
    height: 50px;
    /* background-color: sandybrown; */
    display: block;
    align-items: center;
    
}
.product-price-discount{
    align-items: center;
}
.product-actual-price{
    position: relative;
    right: 60px;
}
.product-cart{
    width: 100%;
   /* background-color: seagreen; */
   height: 40px;
    display: flex;
    margin-top: 20px;
   
    
}

.input-count{
    display: flex;
    width: 130px;
    text-align: center;
    margin: 0 0;
    padding: 0px;
    background-color:blanchedalmond;
    border-radius: 10px;
    border: transparent;
    outline: none;
    
}

.add-cart{
    width: 100px;
    justify-content: center;
    align-items: center;
    left: 0px;
    bottom: 10px;
    margin: 0 5px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-radius: 10px;
    padding: 2px ;
    box-shadow:0 15px 30px hsla(var(--clr-primary),.42);
    border: none;
}
.add-cart-icon{
    margin:0 ;
    padding: 0;
}
.plus-cart {
    position: absolute;
    left: 115px;
    top: 20px;
    background-color: blanchedalmond;
    transform: translateY(-50%);
    border: none;
}

.minus-cart {
    position: absolute;
    left: 5px;
    top: 19px;
    background-color: blanchedalmond;
    transform: translateY(-50%);
    border: none;
}




}  